<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Edit Profile</h1>
    <h2> <%= @user.email %></h2>
    <p><%= image_tag @user.image.url %></p>


    <%= form_for @user, :html => { multipart: true, :class => 'form-signin'},  method: :patch do |f| %>
        <p>
          <%= f.label :image, class: 'sr-only' %><br />
          <%= f.file_field :image, class: 'form-control' %>
        </p>
        <p>
          <%= f.label :first_name , class: 'sr-only' %><br />
          <%= f.text_field :first_name, class: 'form-control', placeholder: "First name" %>
        </p>
        <p>
          <%= f.label :last_name, class: 'sr-only' %><br />
          <%= f.text_field :last_name, class: 'form-control', placeholder: "Last name" %>
        </p>

        <div><%= f.submit class: 'btn btn-primary', value: 'Update' %></div>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>