<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Edit Profile</h1>
    <h2> <%= @user.email %></h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-4"><%= image_tag @user.image.url(:thumb), id: 'current_avatar', width: "150px", height: "auto" %></div>
    </div>


    <%= form_for @user, :html => { multipart: true, :class => 'form-signin'},  method: :patch do |f| %>

        <p>
          <%= f.label :image %><br />
          <%= f.file_field :image, class: 'form-control', id: 'new_avatar' %>
        </p>
        <p>
          <%= f.label :first_name  %><br />
          <%= f.text_field :first_name, class: 'form-control', placeholder: "First name" %>
        </p>
        <p>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: 'form-control', placeholder: "Last name" %>
        </p>
        <p>
          <%= f.label :birthday %><br />
          <div class="input-group date">
            <input type="text" class="form-control" id="birthday" placeholder="dd/mm/yyyy" name="user[birthday]" value="<%= @user.birthday %>" data-date-format="mm/dd/yyyy"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </p>

        <div><%= f.submit class: 'btn btn-primary', value: 'Update' %></div>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>

<script>
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        f=files[0]
        // Only process image files.
        if (f.type.match('image.*')) {
            var reader = new FileReader();
            reader.onload = (function(theFile) {
                return function(e) {
                    // alert(e.target.result);
                    document.getElementById("current_avatar").src=e.target.result;
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }
    document.getElementById('new_avatar').addEventListener('change', handleFileSelect, false);
</script>