<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Sign Up</h1>

        <%= form_for @user, :html => { multipart: true, :class => 'form-signin'} do |f| %>
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <p>
              <%= f.label :email, class: 'sr-only' %><br />
              <%= f.text_field :email, class: 'form-control', placeholder: "Email address" %>
            </p>
            <p>
              <%= f.label :password , class: 'sr-only' %><br />
              <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
            </p>
            <p>
              <%= f.label :password_confirmation, class: 'sr-only' %><br />
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Retype Password" %>
            </p>

          <p>
            <%= f.label :image, class: 'sr-only' %><br />
            <%= f.file_field :image, class: 'form-control' %>
          </p>


            <div><%= f.submit class: 'btn btn-primary', value: 'Sign Up' %></div>
        <% end %>
    </div>
    <div class="col-md-4"></div>
</div>