<h1>User Profile Page</h1>
<p><%= image_tag @user.image.url(:medium) %></p>
<p>Welcome, <%= @user.email %></p>
<h2>Bio</h2>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
